//Comentários no SASS são com //
//Variáveis
$cor-padrao: darken(#c24e4b,0);
$cor-auxiliar: lighten(#1e2c35,0);
$cor-branca: #fff;

//Outras funções de cor:
// adjust-hue(2 args);
//saturate(2 args); 
//complement(1 arg);